[user]
	name = Vincent Gatignol
	email = dev@gatignol.fr
[help]
  autocorrect = 1
[core]
  autocrlf = input
  excludesfile = /home/vinc/.gitignore-global
[alias]
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --oneline
  loga = log --color --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --oneline
[push]
  default = simple
[color]
  ui = true
[oh-my-zsh]
  hide-dirty = 1
  hide-status = 0
[diff]
  ignoreSubmodules = dirty
[status]
  submoduleSummary = false
[pull]
	rebase = true
[rebase]
	autoStash = true
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
