[user]
        name = Vincent Gatignol-Jamon
        email = vincent.gatignol-jamon@idgrilles.fr
[help]
        autocorrect = 1
[core]
        autocrlf = input
	excludesfile = /home/vinc/.gitignore-global
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
