[global_config]
  enabled_plugins = LaunchpadCodeURLHandler, APTURLHandler, LaunchpadBugURLHandler
  window_state = maximise
[keybindings]
  go_up = <Primary><Shift>Up
  split_horiz = <Primary><Shift>h
  go_down = <Primary><Shift>Down
  split_vert = <Primary><Shift>v
  go_right = <Primary><Shift>Right
  go_left = <Primary><Shift>Left
  paste = None
[profiles]
  [[default]]
    background_image = None
    visible_bell = True
    background_darkness = 0.78
    audible_bell = True
    background_type = transparent
    foreground_color = "#dddddd"
    exit_action = restart
    copy_on_selection = True
    scrollback_infinite = True
[layouts]
  [[default]]
    [[[leftw]]]
      position = 0:0
      type = Window
      order = 0
      parent = ""
      size = 1920, 1080
    [[[leftp]]]
      position = 960
      type = HPaned
      order = 0
      parent = leftw
    [[[rightp]]]
      position = 540
      type = VPaned
      order = 1
      parent = leftp
    [[[rightw]]]
      position = 3600:30
      type = Window
      order = 0
      parent = ""
      size = 1680, 1050
    [[[weechat]]]
      profile = default
      type = Terminal
      order = 0
      parent = leftp
      command = ssh vinc
    [[[term]]]
      profile = default
      type = Terminal
      order = 1
      parent = rightp
      command = ""
    [[[monitor]]]
      profile = default
      type = Terminal
      order = 0
      parent = rightp
      command = glances -b
    [[[work]]]
      profile = default
      type = Terminal
      order = 0
      parent = rightw
      command = ~/Documents/env/scripts/gowork.sh
[plugins]
