[global_config]
[keybindings]
  go_up = <Primary><Shift>Up
  go_down = <Primary><Shift>Down
  go_left = <Primary><Shift>Left
  go_right = <Primary><Shift>Right
  split_horiz = <Primary><Shift>h
  split_vert = <Primary><Shift>v
  paste = <Primary>v
  close_window = ""
  reset = ""
  reset_clear = ""
  ungroup_all = ""
  ungroup_win = ""
  ungroup_tab = ""
  broadcast_off = <Primary><Shift>q
  broadcast_group = <Primary><Shift>g
  broadcast_all = <Primary><Shift>a
  next_profile = <Primary><Shift>b
[profiles]
  [[default]]
    background_darkness = 0.7
    background_type = transparent
    scrollback_infinite = True
  [[dark]]
    background_darkness = 0.9
    background_type = transparent
    scrollback_infinite = True
[layouts]
  [[default]]
    [[[window0]]]
      type = Window
      parent = ""
    [[[child1]]]
      type = Terminal
      parent = window0
[plugins]
